<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
      <div class="navbar">
        <a href="index.html">Home</a>
        <a href="list-reminders.html"> Reminders</a>
        <div class="dropdown">
          <button class="dropbtn">Add
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="add-client.html">Client</a>
            <a href="add-reminder.html">Reminder</a>
          </div>
        </div>
        <a href="login.html">Logout</a>
      </div>
      
        <div class="container">
                <form action="/add/reminder" method="POST" id="ajax-add-reminder">
              
                  <label for="name">Name</label>
                  <input type="text" id="name" name="name" placeholder="Client name..">

                  <label for="date">Date</label>
                  <input type="date" id="date" name="date" placeholder="Reminder Date">

                  <label for="time">Time</label>
                  <input type="time" id="time" name="time" placeholder="Reminder Time">
                  <br>
                  <label for="type">Choose reminder delivery preference:</label>
                  <select name="type" id="type">
                    <option value="email">Email</option>
                    <option value="phone">Phone</option>
                  </select>
                  
                  <label for="delivery">Contact</label>
                  <input type="text" id="delivery" name="delivery" placeholder="Client Email or Phone number">

                  <label for="body">Subject</label>
                  <textarea id="body" name="body" placeholder="Write something.." style="height:200px"></textarea>
              
                  <input type="submit" value="Submit">
                  <input type="submit" value="Cancel">
              
                </form>
              </div>
        <script type="text/javascript" src="../public/js/addReminder.js"></script>
</body>
</html>