<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src * data: https://ssl.gstatic.com 'unsafe-inline' 'unsafe-eval';">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <a href="index.html">Home</a>
        <a href="list-reminders.html"> Reminders</a>
        <div class="dropdown">
          <button class="dropbtn">Add
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="add-client.html">Client</a>
            <a href="add-reminder.html">Reminder</a>
          </div>
        </div>
      </div>

        <div class="container">
                <form action="/add/client" method="POST" id="ajax-add-client">
              
                  <label for="name">Name</label>
                  <input type="text" id="name" name="name" placeholder="Client name..">
              
                  <label for="age">age</label>
                  <input type="text" id="age" name="age" placeholder="Client age..">

                  <label for="phone">Phone</label>
                  <input type="text" id="phone" name="phone" placeholder="Client Phone Number">
              
                  <input type="submit" value="Submit">
                  <input type="submit" value="Cancel">
              
                </form>
        </div>
        <div id="form-messages"></div>
        <script type="text/javascript" src="../public/js/addClient.js"></script>
</body>
</html>