<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="style.css">

    <title>Text Reminder</title>
  </head>
  <body>
    <!-- custom navbar -->
    <div class="nav">
      <ul class="nav">
        <li class="nav"><a href="#">Home</a></li>
        <li class="nav"><a href="#">Add</a></li>
      </ul>
    </div>

    <div class="clients">
      <ul class="clientsList">
        <li>one</li>
        <li>two</li>
      </ul>
    </div>
    <!-- You can also require other files to run in this process -->
    <script src="./renderer.js"></script>
  </body>
</html>
