<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="script-src * data: https://ssl.gstatic.com 'unsafe-inline' 'unsafe-eval';">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="./style.css">

    <title>Text Reminder</title>
  </head>
  <body>
    <!-- custom navbar -->
    <div class="navbar">
        <a href="index.html">Home</a>
        <a href="listReminders.html"> Reminders</a>
        <div class="dropdown">
          <button class="dropbtn">Add
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="addPatient.html">Patient</a>
            <a href="addReminder.html">Reminder</a>
          </div>
        </div>
      </div>

      <div id="patient_data"></div>

    <script type="text/javascript" src="../public/js/show_patient.js"></script>
  </body>
</html>
